.cardComponent{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 15px;
    @media (prefers-color-scheme: dark) {
        border-color: rgb(255, 255, 255);
    }
    p{
        text-align: center;
        align-self: center;
        font-size: 18;
    }
    span{
        position: absolute;
        text-align: center;
        align-self: end;
        bottom: 25px;
        font-size: 24px;
        font-weight: bold;
    }
}